<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (account_type === "Employee" || account_type === "Admin") { %>
  <h2>Welcome <%= account_firstname %>!</h2>
<% } else { %>
  <p>Welcome <%= account_firstname %>!</p>
<% } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
<% } %>
    

<div class="account-management">
  <p>
    <a href="/account/update/<%= account_id %>" >Update Account Information</a>
  </p>
  
  <% if (account_type === "Employee" || account_type === "Admin") { %>
    <h3 class="span2">Inventory Management</h3>
    <p><a href="/inv/">Manage Inventory</a></p>
  <% } %>
</div>